<div class="ui segment">
  <div class="ui three column centered grid">
    <table datatable [dtOptions]="dtOptions" class="ui compact celled definition table">
      <thead class="full-width">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.userid}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
