<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="ui center aligned segment">
      <div class="ui active dimmer" *ngIf="loading">
        <div class="ui medium text loader">Loading...</div>
      </div>
      <div class="ui one column grid">
        <div class="column">
          <img class="ui centered image logo" src="../../../assets/png/littlecafe.png">
        </div>
      </div>
      <form (ngSubmit)="login()" #registerForm="ngForm">
        <div class="ui one column grid">
          <div class="column">
            <div class="ui icon input">
              <input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required>
              <i class="users icon"></i>
            </div>
          </div>
          <div class="column">
            <div class="ui icon input">
              <input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required>
              <i class="key icon"></i>
            </div>
          </div>
          <div class="column">
            <div class="ui large buttons">
              <button class="ui button" type="button" (click)="setRole('Manager')">Manager</button>
              <div class="or"></div>
              <button class="ui button" type="button" (click)="setRole('Employee')">Employee</button>
            </div>
          </div>
          <div class="column">
            <button class="large ui button" type="submit"  [disabled]="!registerForm.form.valid">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

