<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="ui one column grid">
      <div class="column">
        <img class="ui centered circular massive image" src="../../../../../ionic-project/student-app/src/assets/png/Logo_Little%20Cafeteria.png">
      </div>
      <div class="column">
        <h3 class="ui grey inverted header centered"> Welcome to Little Cafeteria</h3>
      </div>
    </div>
    <div class="ui divider"></div>
    <app-login-view></app-login-view>
    <div class="ui divider"></div>
    <div class="column">
      <a routerLink="/forgotpass">
        <button class="tiny ui left floated teal button">Forgot Password?</button>
      </a>
      <a routerLink="/signup">
      <button class="tiny ui right floated teal button">Sign-Up</button>
      </a>
    </div>
  </div>
</div>

