<div class="ui confirm order modal">
  <div class="ui icon header">
    <i class="archive icon"></i>
    Action confirmation
  </div>
  <div class="content">
    <div class="ui centered header">
      <h1>Are you sure to want to start this order list? </h1>
      <p> Order ID : <span>{{order?.olid}}</span></p>
      <p> Order Pick Up Time : <span>{{order?.ol_dttm | date: 'medium'}}</span></p>
      <p> Order Total Price : <span>{{order?.totalprice}}</span></p>
    </div>


  </div>
  <div class="actions">
    <div class="ui left floated red cancel button" (click)="action('Cancel')">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok button" (click)="action('Ok')">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>
