<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="ui two column centered grid">
      <div class="column">
        <div class="ui segment">
          <h2 class="ui block header">
            <i class="small map icon"></i>
            <div class="content">
              List Of Employees
              <div class="sub header">View Employees Details</div>
            </div>
          </h2>
          <app-employee-list></app-employee-list>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <h2 class="ui block header">
            <i class="small plus users icon"></i>
            <div class="content">
              Add a New Employee
              <div class="sub header">Invite a worker to the cafeteria</div>
            </div>
          </h2>
          <app-employee-invite></app-employee-invite>
        </div>
      </div>
    </div>
  </div>
</div>
