<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="ui two column centered grid">
      <div class="column">
        <div class="ui segment">
          <h2 class="ui block header">
            <i class="small map icon"></i>
            <div class="content">
              Best Sellers
              <div class="sub header">List of most sold items</div>
            </div>
          </h2>

        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <h2 class="ui block header">
            <i class="small plus users icon"></i>
            <div class="content">
              Title
              <div class="sub header">Sub Title</div>
            </div>
          </h2>

        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <h2 class="ui block header">
            <i class="small book icon"></i>
            <div class="content">
              Title
              <div class="sub header">Sub Title</div>
            </div>
          </h2>

        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <h2 class="ui block header">
            <i class="small book icon"></i>
            <div class="content">
              Title
              <div class="sub header">Sub Title</div>
            </div>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
