<div class="ui masthead vertical segment">
  <div class="ui fluid seven item menu tablet only">
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['./items','MonthBestItems']">Items By Month</a>
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['./items','WeekBestItems']">Items By Week</a>
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['./items','TodayBestItems']">Items By Day</a>
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  [routerLink]="['./users','MonthBestUsers']">Users By Month</a>
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  [routerLink]="['./users','WeekBestUsers']">Users By Week</a>
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  [routerLink]="['./users','TodayBestUsers']">Users By Day</a>
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  [routerLink]="['./datepicker']">Date Picker</a>
  </div>
  <div class="ui tabular three item menu mobile only">
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['./items','MonthBestItems']">Items By Month</a>
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['./items','WeekBestItems']">Items By Week</a>
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['./items','TodayBestItems']">Items By Day</a>
  </div>
  <div class="ui tabular three item menu mobile only">
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  [routerLink]="['./users','MonthBestUsers']">Users By Month</a>
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  [routerLink]="['./users','WeekBestUsers']">Users By Week</a>
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  [routerLink]="['./users','TodayBestUsers']">Users By Day</a>
  </div>
  <div class="ui tabular one item menu mobile only">
    <a class="vertically fitted item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  [routerLink]="['./datepicker']">Date Picker</a>
  </div>
  <div class="ui container">
    <router-outlet></router-outlet>
  </div>
</div>


