<h2 class="ui yellow center aligned icon header">Complete Orders - List Of Complete Orders </h2>
<div class="ui divider"></div>
<div class="ui three column centered grid">
  <table class="ui compact celled definition inverted table">
    <thead class="full-width">
    <tr>
      <th>Order ID</th>
      <th>Order Quantity</th>
      <th>Student Full Name</th>
      <th>Start Making Order</th>
      <th>PickUp Time</th>
      <th>Total Price </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>6</td>
      <td>1</td>
      <td>Avner Ben Peretz</td>
      <td>09:50:00 AM</td>
      <td>10:02:00 AM</td>
      <td>5 NIS</td>
    </tr>
    </tbody>
    <tfoot class="full-width">

    </tfoot>
  </table>
</div>
