<div class="ui segment">
  <div class="responsive_table">
    <table class="mat-table mat-elevation-z1">
      <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell">Order ID</th>
        <th class="mat-header-cell">Student Full Name</th>
        <th class="mat-header-cell"> Pick-Up Time </th>
        <th class="mat-header-cell"> Review </th>
        <th class="mat-header-cell"> Total Price (NIS) </th>
        <th class="mat-header-cell"> Order Information </th>
      </tr>
      </thead>
      <tbody>
      <tr class="mat-row" *ngFor="let element of ( elements | orderByTime: 10);">
        <td class="mat-cell">{{element.olid}} </td>
        <td class="mat-cell">
          <app-student-details [userId]="element.userid" ></app-student-details>
        </td>
        <td class="mat-cell"> {{element.ol_dttm | date: 'short' : 'UTC' }} </td>
        <td class="mat-cell"> {{element.hasreview | reviewPipe}} </td>
        <td class="mat-cell"> {{element.totalprice}}  &#8362;</td>
        <td class="mat-cell">
          <app-order-details [olid]="element.olid"></app-order-details>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
