<div class="ui segment">
<table class="ui compact celled definition table">
  <thead class="full-width">
  <tr>
    <th><span>Order ID</span></th>
    <th><span>Student Full Name</span></th>
    <th><span>PickUp Time</span></th>
    <th><span>Total Price (NIS)</span></th>
    <th><span>Order Information</span></th>
    <th><span>Start Order</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of ( orderList | orderByTime: 5); let i = index; ">
    <td>{{order.olid}}</td>
    <td>
      <app-student-details [userId]="order.userid" ></app-student-details>
    </td>
    <td>{{order.ol_dttm | date: 'short' : 'UTC' }}</td>
    <td>{{order.totalprice}} &#8362;</td>
    <td>
     <app-order-details [olid]="order.olid"></app-order-details>
    </td>
    <td>
      <div class="ui labeled icon button" (click)="startMakingOrder(order)">
        <i class="bullhorn icon"></i> Start Order
      </div>
    </td>
  </tr>
  </tbody>
</table>
  <app-order-modal-confirm [orderInputConf]="ordertodo" (notifyChange)="onNotifyClicked($event)"></app-order-modal-confirm>
</div>
