<sm-menu title="CMS - Little Cafeteria" class="" logoClass="home icon">
  <sm-menu class="left menu">
    <a sm-item *ngFor="let item of items" class="item" [routerLink]="item.routerLink" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="big {{ item.icon }} icon"></i>
      {{ item.name }}
    </a>
  </sm-menu>
  <div class="right menu">
    <div class="item">
      <button (click)="onLogout()">Logout</button>
    </div>
    <div class="item">
      <img class="ui mini circular image"
           src="../assets/png/adam%20copy.jpg">
    </div>
  </div>
</sm-menu>
