<button class="ui button" (click)="myModalNormal.show({inverted: false})">
  <i class="search plus icon"></i>Info
</button>
<sm-modal title="Order List Details" class="" icon="clipboard" #myModalNormal>
  <modal-content>
    <div class="ui six column grid" *ngFor="let order of orders; let i = index">
        <div class="six column row">
          <div class="column">
            <strong>Order ID :</strong>
          </div>
          <div class="column">
            {{order.orderid}}
          </div>
        </div>
      <div class="column">
        <strong>Item Name :</strong>
      </div>
      <div class="column">
        {{this.items[i]?.name}}
      </div>
      <div class="column">
        <strong>Item Quantity :</strong>
      </div>
      <div class="column">
        {{order.qty}}
      </div>
      <div class="column">
        <strong>Item Price :</strong>
      </div>
      <div class="column">
        {{this.items[i]?.price}} &#8362;
      </div>
    </div>
    <div class="ui four column grid">
      <div class="column">
        <strong>Pick Up Time:</strong>
      </div>
      <div class="column">
       {{orderListRef?.ol_dttm | date: 'medium' }}
      </div>
    </div>
  </modal-content>
  <modal-actions>
    <div class="ui buttons">
      <div class="ui button primary" (click)="myModalNormal.hide()">Close</div>
    </div>
  </modal-actions>
</sm-modal>
