<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="ui one column grid">
      <a routerLink="/home">
        <button class="ui inverted red button">
          <i class="chevron circle left icon"></i>
          Return
        </button>
      </a>
    </div>
    <div class="ui one column grid">
      <div class="column">
        <img class="ui centered circular massive image" src="../../../assets/png/Logo_Little%20Cafeteria.png">
      </div>
      <div class="column">
        <h3 class="ui grey inverted header centered"> Welcome to Little Cafeteria</h3>
      </div>
    </div>
      <div class="ui one column grid">
        <div class="column">
          <div class="ui fluid icon input">
            <input type="text" placeholder="Email">
            <i class="users icon"></i>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid icon input">
            <input type="text" placeholder="Repeat Email">
            <i class="users icon"></i>
          </div>
        </div>
        <div class="column">
          <button class="fluid large ui teal button">RECOVER PASSWORD TO E-MAIL</button>
        </div>
      </div>
  </div>
</div>
