<div class="ui segment">
  <div class="ui three column centered grid">
    <table class="ui compact celled definition table">
      <thead class="full-width">
      <tr>
        <th>Item ID</th>
        <th>Item Type</th>
        <th>Item Name</th>
        <th>Item Quantity </th>
        <th>Item Time Prep </th>
        <th>Item Price </th>
        <th>On Menu ?</th>
        <th>Actions </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of itemsMenu; let i = index;">
        <td>{{item.itemid}}</td>
        <td>{{item.type}}</td>
        <td>{{item.name}}</td>
        <td>{{item.qty}}</td>
        <td>{{item.preptime}}</td>
        <td>{{item.price}} &#8362;</td>
        <td>{{item.ispublished | onMenuPipe }}</td>
        <td>
          <div class="ui left floated labeled icon button"
               (click)="displayModal('Edit', item)">
            <i class="edit icon"></i>Edit
          </div>
          <div class="ui right floated labeled icon button"
               (click)="displayModal('Delete', item)">
            <i class="delete icon"></i>Delete
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="7">
          <div class="ui small labeled icon button" (click)="displayModal('Add')">
            <i class="plus icon"></i>Add Item
          </div>
        </th>
      </tr>
      </tfoot>
    </table>
    <app-item-modal-add (notify)="onNotifyClicked($event)"></app-item-modal-add>
    <app-item-modal-edit [itemInputEdit]="editItem" (notify)="onNotifyClicked($event)"></app-item-modal-edit>
    <app-item-modal-confirm [itemInputDelete]="deleteItem" (notify)="onNotifyClicked($event)"></app-item-modal-confirm>
  </div>
</div>
