<h2 class="ui yellow center aligned icon header">Active Orders</h2>
<div class="ui divider"></div>
<div class="ui three column centered grid">
  <table class="ui compact celled definition inverted table">
    <thead class="full-width">
    <tr>
      <th></th>
      <th>Order ID</th>
      <th>Order Quantity</th>
      <th>Student Full Name</th>
      <th>Start Making Order</th>
      <th>PickUp Time</th>
      <th>Total Price </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="collapsing">
        <div class="ui fitted slider checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
      <td>4</td>
      <td>1</td>
      <td>Maayan Sides</td>
      <td>10:05:00 AM</td>
      <td>10:10:00 AM</td>
      <td>5 NIS</td>
    </tr>
    <tr>
      <td class="collapsing">
        <div class="ui fitted slider checkbox">
          <input type="checkbox"> <label></label>
        </div>
      </td>
      <td>5</td>
      <td>1</td>
      <td>Ronnie Agassi</td>
      <td>10:04:00 AM</td>
      <td>10:10:00 AM</td>
      <td>5 NIS</td>
    </tr>
    </tbody>
    <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="6">
        <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i> Order Ready
        </div>
        <div class="ui small button">
          Select All
        </div>
      </th>
    </tr>
    </tfoot>
  </table>
</div>
