<div class="ui segment">
<table class="ui compact celled definition table">
  <thead class="full-width">
  <tr>
    <th>Order ID</th>
    <th>Student Full Name</th>
    <th>Start Making Order</th>
    <th>Pick-Up Time</th>
    <th>Total Price (NIS)</th>
    <th>Order Information</th>
    <th>End Order</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of (orderList | orderByTime : 5); let i = index;">
    <td>{{order.olid}}</td>
    <td>
      <app-student-details [userId]="order.userid" ></app-student-details>
    </td>
    <td>{{order?.ol_dttm_real | date: 'short' }}</td>
    <td>{{order?.ol_dttm | date: 'short' }}</td>
    <td>{{order?.totalprice}} &#8362;</td>
    <td>
      <app-order-details [olid]="order.olid"></app-order-details>
    </td>
    <td>
      <div class="ui small labeled icon button" (click)="completeOrder(order)">
        <i class="bullhorn icon"></i> Order Is Ready
      </div>
    </td>
  </tr>
  </tbody>
  <app-order-modal-complete [orderInputConf]="ordertocomplete" (notifyChange)="onNotifyClicked($event)"></app-order-modal-complete>
</table>
</div>
