<div class="ui edit modal">
  <div class="ui icon header">
    <i class="edit icon"></i>
    Edit An Existing Item In The Cafeteria
  </div>
  <div class="ui internally celled grid">
    <div class="row">
      <div class="eleven wide column">
        <div class="ui form">
          <div class="two fields">
            <div class="field">
              <label>Item Name</label>
              <input type="text" placeholder="Name" [(ngModel)]="item.name" required>
            </div>
            <div class="field">
              <label>Item Description</label>
              <textarea rows="2" [(ngModel)]="item.description" required>
                </textarea>
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>Item Price</label>
              <input type="text" placeholder="Price" [(ngModel)]="item.price">
            </div>
            <div class="field">
              <label>Item Quantity</label>
              <input type="text" placeholder="Quantity" [(ngModel)]="item.qty">
            </div>
            <div class="field">
              <label>Item Type</label>
              <select class="ui fluid search dropdown" [(ngModel)]="item.type">
                <option value="Dishes">Dishes</option>
                <option value="Pastries">Pastries</option>
                <option value="Drinks">Drinks</option>
                <option value="Sandwiches">Sandwiches</option>
                <option value="Snacks">Snacks</option>
              </select>
            </div>
            <div class="field">
              <label>Time Preparation</label>
              <input type="text" placeholder="5 Min.."  [(ngModel)]="item.preptime">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui left floated red cancel button" (click)="action('Cancel')" >
      <i class="remove icon"></i>
      Cancel
    </div>
    <div class="ui green ok button" (click)="action('Upload The Changes')">
      <i class="checkmark icon"></i>
      Upload
    </div>
  </div>
</div>
