<div class="ui edit modal">
  <div class="ui icon header">
    <i class="edit icon"></i>
    Edit An Existing Item In The Cafeteria
  </div>
  <div class="ui internally celled grid">
    <div class="row">
      <div class="three wide column">
        <div class="ui left aligned image content">
          <img class="ui centered small circular image padding" src="../../../../assets/png/item.png">
          <label>Click To Change Image</label>
        </div>
      </div>
      <div class="eleven wide column">
        <div class="ui form">
          <div class="two fields">
            <div class="field">
              <label>Item Name</label>
              <input type="text" placeholder="Name" [(ngModel)]="item.name" required>
            </div>
            <div class="field">
              <label>Item Description</label>
              <textarea rows="2" [(ngModel)]="item.description" required>
                </textarea>
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>Item Price</label>
              <input type="text" placeholder="Price" [(ngModel)]="item.price">
            </div>
            <div class="field">
              <label>Item Quantity</label>
              <input type="text" placeholder="Quantity" [(ngModel)]="item.qty">
            </div>
            <div class="field">
              <label>Item Type</label>
              <select class="ui fluid search dropdown" [(ngModel)]="item.type">
                <option value="Drink">Drink</option>
                <option value="Food">Food</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui left floated red cancel button" (click)="action('Cancel')" >
      <i class="remove icon"></i>
      Cancel
    </div>
    <div class="ui green ok button" (click)="action('Upload The Changes')">
      <i class="checkmark icon"></i>
      Upload
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel button" (click)="action('Cancel')" >Cancel</div>
    <div class="ui button" (click)="action('Upload The Changes')">Upload</div>
  </div>
</div>
