<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="ui two column centered grid">
      <div class="column">
        <div class="ui segment">
          <p>Publish Menu</p>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <p>Orders Today</p>
        </div>
      </div>
        <div class="column">
          <div class="ui segment">
            <p>Complete Orders</p>
          </div>
        </div>
        <div class="column">
          <div class="ui segment">
            <p>Best Sellers</p>
          </div>
        </div>
      </div>
  </div>
</div>
