<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="ui stackable two column centered grid">
      <div class="ten wide column">
        <div class="ui segment">
          <h2 class="ui block header">
            <i class="small map icon"></i>
            <div class="content">
              Last 10 Completed Orders
              <div class="sub header">These orders has been completed</div>
            </div>
          </h2>
          <app-order-complete></app-order-complete>
        </div>
      </div>
      <div class="six wide column">
        <div class="ui segment">
          <h2 class="ui block header">
            <i class="small book icon"></i>
            <div class="content">
              Published Menu
              <div class="sub header">These items are published on the student menu</div>
            </div>
          </h2>
          <app-menu-published></app-menu-published>
        </div>
      </div>
    </div>
  </div>
</div>
