/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* ngIf */
[hidden] { display: none !important;}

body{
  background-color: #2A7C63 !important;
  margin: 0 auto;
}
.ui.container {
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.pusher{
  background-color: #2A7C63 !important;
}
.ui.centered.image.logo{
  height:200px;
}
.large.ui.button{
  background-color: #094C38 !important;
  font-size: 1.40em;
  color: #fff;
  letter-spacing: 3px;
}
.mydrp .selection {
  position: inherit !important;
}

/* You can add global styles to this file, and also import other style files */
@media (min-width: 1281px) {
  .mobile.only,
  .tablet.hidden,
  .small.monitor.hidden,
  .large.monitor.hidden {
    display: none !important;
  }
  /*
  table css
   */
  .mat-table.mat-elevation-z1{
    width:90%;
    margin:auto;
  }
  /*
  table - font size
   */
  .mat-header-row{
    font-size:1em;
  }
  .mat-header-cell{
    font-size:1em;
  }
  .mat-cell{
    font-size: 1em;
  }
  /*
   table - semantic
   */
  .ui.table thead th {
    font-size:1.1em;
  }
  .ui.table tr td {
    font-size:1em;
  }

  /*
  upper menu
   */
  .ui.menu{
    background-color: #004933 !important;
    font-size: 1.3em;
    border-radius: 0px !important;
  }
  .ui.menu .header.item {
    color: #ECECEC !important;
  }
  .ui.menu .item {
    color: #ECECEC !important;
  }
  .ui.menu .item.active {
    color: #90BAAD !important;
  }
  /*
  segments - tables containers
   */
  .ui.segment{
    background-color: #5DC7A7 !important;
    border-radius: 10px;
  }
  .ui.vertical.segment{
    background-color: #2A7C63 !important;
  }
  /*
  segemnt - block header
   */
  .ui.block.header{
    background: #2A7C63 !important;
    color: #fff;
  }
  h2.ui.header .sub.header {
    font-size: 1.14285714rem;
    color: #fff;
  }
  /*
  buttons - sizes
   */
  .ui.button {
    font-size: 0.8em;
    background-color: #2A7C63;
    color: #fff;
  }
  .ui.icon.button{
    font-size:0.85em !important;
  }
  /*
   logo- image
   */
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .mobile.only,
  .tablet.hidden,
  .small.monitor.hidden,
  .large.monitor.hidden {
    display: none !important;
  }
  /*
  table css
   */
  .mat-table.mat-elevation-z1 {
    width: 90%;
    margin: auto;
  }
  /*
  table - font size
   */
  .ui.table thead th {
    font-size:0.9em;
  }
  .ui.table tr td {
    font-size:0.8em;
  }
  /*
   table - semantic
   */
  .mat-header-row{
    font-size:0.9em;
  }
  .mat-header-cell{
    font-size:0.9em;
  }
  .mat-cell{
    font-size: 0.9em;
  }
  /*
  upper menu
   */
  .ui.menu{
    background-color: #004933 !important;
    font-size: 1.1em;
    border-radius: 0px !important;;
  }
  .ui.menu .header.item {
    color: #ECECEC !important;
  }
  .ui.menu .item {
    color: #ECECEC !important;
  }
  .ui.menu .item.active {
    color: #90BAAD !important;
  }
  /*
  segments - tables containers
   */
  .ui.segment{
    background-color: #5DC7A7 !important;
    border-radius: 10px;
  }
  .ui.vertical.segment{
    background-color: #2A7C63 !important;
  }
  /*
  segemnt - block header
   */
  .ui.block.header{
    background: #2A7C63 !important;
    color: #fff;
    font-size: 1em;
  }
  h2.ui.header .sub.header {
    font-size: 0.8em;
    color: #fff;
  }

  /*
  buttons - sizes
   */
  .ui.button {
    font-size: 0.8em;
    background-color: #2A7C63;
    color: #fff;
  }
  .ui.icon.button{
    font-size:0.7em !important;
  }

  .ui.icon.input > input{
    width: 14em;
    font-size: 0.8em;
  }

  .large.ui.button{
    background-color: #094C38 !important;
    font-size: 1em;
    color: #fff;
    letter-spacing: 3px;
  }


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 767px) and (max-width: 1024px) {
  .mobile.only,
  .tablet.hidden,
  .small.monitor.hidden,
  .large.monitor.hidden {
    display: none !important;
  }
  /*
  table css
   */
  .mat-table.mat-elevation-z1 {
    width: 90%;
    margin: auto;
  }
  .ui.table:not(.unstackable) tr > th{
    display: table-cell !important;
  }

  /*
  table - font size
   */
  .ui.table thead th {
    font-size:0.8em;
  }
  .ui.table tr td {
    font-size:0.7em;
  }
  .mat-header-row{
    font-size: 0.8em;
  }
  .mat-header-cell{
    font-size:0.8em;
  }
  .mat-cell{
    font-size: 0.8em;
  }
  /*
  menu css
   */
  .ui.menu{
    background-color: #004933 !important;
    font-size: 0.8em;
    border-radius: 0px !important;;

  }
  .ui.menu .header.item {
    color: #ECECEC !important;
  }
  .ui.menu .item {
    color: #ECECEC !important;
  }
  .ui.menu .item.active {
    color: #90BAAD !important;
  }
  /*
  segments - tables containers
   */
  .ui.segment{
    background-color: #5DC7A7 !important;
    border-radius: 10px;
  }
  /*
 segemnt - block header
  */
  .ui.vertical.segment{
    background-color: #2A7C63 !important;
  }
  .ui.block.header{
    background: #2A7C63 !important;
    color: #fff;
    font-size: 0.8em;
  }
  h2.ui.header .sub.header {
    font-size: 0.7em;
    color: #fff;
  }
  /*
  buttons - sizes
   */
  .ui.button {
    font-size: 0.7em;
    background-color: #2A7C63;
    color: #fff;
  }
  .ui.icon.button{
    font-size:0.6em !important;
  }
  /*
  input - emp and login
   */
  .ui.icon.input > input{
    width: 15em;
    font-size: 0.7em;
  }

  .large.ui.button{
    font-size: 0.8em;
  }


}
/* You can add global styles to this file, and also import other style files */
@media only screen and (min-width: 500px) and (max-width: 766px) {
  .mobile.hidden,
  .tablet.only,
  .small.monitor.hidden,
  .large.monitor.hidden {
    display: none !important;
  }
  .ui.menu:not(.vertical) .right.menu {
    font-size: 1.4em;
  }
  /*
 table css
  */

  .mat-table.mat-elevation-z1 {
    margin: auto;
    display: grid !important;
  }
  /*
  table - font size
   */
  .ui.table thead th {
    font-size:0.75em;
  }
  .ui.table tr td {
    font-size:0.65em;
  }
  .ui.table:not(.unstackable) thead {
    display: none !important;
  }
  .ui.table:not(.unstackable) tr {
    display: inline-grid !important;
  }
  .ui.table:not(.unstackable) tr > th{
    display: inline-block !important;
  }
  .mat-header-row{
    font-size: 0.6em;
  }
  .mat-header-cell {
    font-size: 0.9em;
    padding-right: 2%;
    padding-left: 2%;
  }
  .mat-cell{
    font-size: 0.6em;
  }

  /*
  menu css
   */
  .ui.menu{
    background-color: #004933 !important;
    font-size: 0.7em;
    border-radius: 0px !important;;

  }
  .ui.menu .header.item {
    color: #ECECEC !important;
  }
  .ui.menu .item {
    color: #ECECEC !important;
    font-size: 15px;
  }
  .ui.menu .item.active {
    color: #90BAAD !important;
  }
  /*
  segments - tables containers
   */
  .ui.segment{
    background-color: #5DC7A7 !important;
    border-radius: 10px;
  }
  .ui.vertical.segment{
    background-color: #2A7C63 !important;
    width: 90%;
    margin:auto;
  }
  /*
 segemnt - block header
  */
  .ui.block.header{
    background: #2A7C63 !important;
    color: #fff;
    font-size: 0.8em;
  }
  h2.ui.header .sub.header {
    font-size: 0.7em;
    color: #fff;
  }

  /*
    buttons - sizes
     */
  .ui.button {
    font-size: 0.7em;
    background-color: #2A7C63;
    color: #fff;
  }
  .ui.icon.button{
    font-size:0.6em !important;
  }
  /*
  input - emp and login
   */
  .ui.icon.input > input{
    width: 15em;
    font-size: 0.7em;
  }

  .large.ui.button{
    font-size: 0.8em;
  }

}
@media (max-width: 499px) {
  .mobile.hidden,
  .tablet.only,
  .small.monitor.hidden,
  .large.monitor.hidden {
    display: none !important;
  }
    /*
  table css
   */
  .ui.menu:not(.vertical) .right.menu {
    font-size: 1.4em;
  }
  .mat-table.mat-elevation-z1 {
    margin: auto;
    display: grid !important;
  }
  .ui.table:not(.unstackable) thead {
    display: none !important;
  }
  .ui.table:not(.unstackable) tr {
    display: inline-grid !important;
  }
  .ui.table:not(.unstackable) tr > th{
    display: inline-block !important;
  }
  /*
  table - font size
   */

  .ui.table thead th {
    font-size:0.75em;
  }
  .ui.table tr td {
    font-size:0.65em;
  }
  .mat-header-cell {
    font-size: 1em;
    font-weight: 500;
  }
  .mat-header-row{
    font-size: 0.5em;
  }
  .mat-cell{
    font-size: 0.5em;
  }
  /*
  menu css
   */
  .ui.menu{
    background-color: #004933 !important;
    font-size: 0.7em;
    border-radius: 0px !important;;

  }
  .ui.menu .header.item {
    color: #ECECEC !important;
  }
  .ui.menu .item {
    color: #ECECEC !important;
    font-size: 15px;
  }
  .ui.menu .item.active {
    color: #90BAAD !important;
  }
  /*
  segments - tables containers
   */
  .ui.segment{
    background-color: #5DC7A7 !important;
    border-radius: 10px;
  }
  .ui.vertical.segment{
    background-color: #2A7C63 !important;
    width: 90%;
    margin:auto;
  }
  .ui.block.header{
    background: #2A7C63 !important;
    color: #fff;
    font-size: 0.8em;
  }
  h2.ui.header .sub.header {
    font-size: 0.7em;
    color: #fff;
  }
  /*
    buttons - sizes
     */

  .ui.button {
    font-size: 0.7em;
    background-color: #2A7C63;
    color: #fff;
  }
  .ui.icon.button{
    font-size:0.6em !important;
  }
  /*
  input - emp and login
   */
  .ui.icon.input > input{
    width: 15em;
    font-size: 0.7em;
  }

  .large.ui.button{
    font-size: 0.8em;
  }

}




/* HIghlight vote up and down on cards*/

.ui.card > .content .thumbs.icon:hover, .ui.cards > .card > .content .thumbs.icon:hover {
  opacity: 1;
  color: #FF2733 !important;
}









  /* Text Color */
.text.white {
  color: #FFFFFF;
}
.text.grey {
  color: #CCCCCC;
}
.text.black {
  color: #1B1C1D;
}
.text.yellow {
  color: #F2C61F;
}
.text.teal {
  color: #00B5AD;
}
.text.red {
  color: #D95C5C;
}
.text.purple {
  color: #564F8A;
}
.text.pink {
  color: #D9499A;
}
.text.orange {
  color: #E07B53;
}
.text.green {
  color: #5BBD72;
}
.text.blue {
  color: #3B83C0;
}
