/* You can add global styles to this file, and also import other style files */

/* ngIf */
[hidden] { display: none !important;}

/* You can add global styles to this file, and also import other style files */
@media only screen and (max-width: 767px) {
  .mobile.hidden,
  .tablet.only,
  .small.monitor.only,
  .large.monitor.only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .small.monitor.only,
  .large.monitor.only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .small.monitor.hidden,
  .large.monitor.only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .mobile.only,
  .tablet.only,
  .small.monitor.only,
  .large.monitor.hidden {
    display: none !important;
  }
}

/* HIghlight vote up and down on cards*/

.ui.card > .content .thumbs.icon:hover, .ui.cards > .card > .content .thumbs.icon:hover {
  opacity: 1;
  color: #FF2733 !important;
}

body{
  background-color: #2A7C63 !important;
}
.ui.segment{
  background-color: #5DC7A7 !important;
  border-radius: 10px;
}
.ui.vertical.segment{
  margin-top: 2% !important;
  background-color: #2A7C63 !important;
}

.large.ui.button{
  background-color: #094C38 !important;
  font-size: 1.40em;
  color: #fff;
  letter-spacing: 3px;
}

h2.ui.header .sub.header {
  font-size: 1.14285714rem;
  color: #fff;
}
.ui.block.header{
  background: #2A7C63 !important;
  color: #fff;
}
.pusher{
  background-color: #2A7C63 !important;
}
.ui.menu{
  background-color: #004933 !important;
  font-size: 1.3rem;
  border-radius: 0px !important;;
}
.ui.menu .header.item {
  color: #ECECEC !important;
}
.ui.menu .item {
  color: #ECECEC !important;
}
.ui.menu .item.active {
  color: #90BAAD !important;
}
.ui.button {
  font-size: 1rem;
  background-color: #2A7C63;
  color: #fff;
}
button, html [type="button"], [type="reset"], [type="submit"]{
  color: #fff;
}

.dataTables_wrapper{
  margin-top: 10px !important;
}
.dataTables_wrapper .dataTables_paginate {
  float: left !important;
  margin-left: 45px !important;
  padding-bottom: 5px !important;
}

  /* Text Color */
.text.white {
  color: #FFFFFF;
}
.text.grey {
  color: #CCCCCC;
}
.text.black {
  color: #1B1C1D;
}
.text.yellow {
  color: #F2C61F;
}
.text.teal {
  color: #00B5AD;
}
.text.red {
  color: #D95C5C;
}
.text.purple {
  color: #564F8A;
}
.text.pink {
  color: #D9499A;
}
.text.orange {
  color: #E07B53;
}
.text.green {
  color: #5BBD72;
}
.text.blue {
  color: #3B83C0;
}
